<!DOCTYPE html>
<html>
  <head>
    <title>Using API Wrappers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3O6D5q3lDcRPt70zZL6bEAQndj/Cvj+o4oW4aQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></script>

  </head>
  <body class="d-flex flex-column max-vh-100">

    <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
          <a class="navbar-brand" href="/">What?? That's so Random</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <%= link_to "Dogs", dog_facts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Cats", cat_facts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Useless Facts", useless_facts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Jokes", jokes_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="flex-grow-1">
      <%= yield %>
    </div>

  </body>

  <footer class="footer bg-dark">
    <div class="text-center">
      <p>&copy; <%= Time.now.year %> What?? That's so Random</p>
    </div>
  </footer>
</html>
